<!DOCTYPE html>
<html>
  <head>
    <title>TurboSort</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> <%= link_to 'TurboSort', root_path %> </h1>
    <%= link_to 'happy ', happy_path %>
    <br>
    <%= link_to 'sad' , sad_path %>
    <%= yield %>
  </body>
</html>
